/* Tablet */
@media (max-width: 768px) {
    /*header*/
   
    .cart-icon {
      border: 0px solid;
    }

    .navbar {
        justify-content: space-evenly;
    }
  
    .navbar-list {
      position: absolute;
      top: 10vh;
      left: 50%;
      right: 5%;
      width: 50%;
      flex-direction: column;
      background-color: #333;
      color: #fff;
      border-top: 0px;
      border-radius: 0px 0px 15px 15px;
      align-items: flex-start;
      padding: 45px 30px;
      gap: 25px;
      z-index: 2;
      display: none;
    }
  
    .navbar-list a {
      font-size: 18px;
    }
  
    /* Mostramos el icono del menu */
    .menu-label {
      display: flex;
      order: 2;
      cursor: pointer;
    }
  
    .menu-label img {
      height: 20px;
      width: 25px;
    }
  
    .open-menu {
      display: flex;
    }