/*fUENTE*/
@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap");

/* style reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  border: none;
  outline: none;
  font-family: "Quicksand", sans-serif;
}

/* paletaColores */
:root {
  --Background: #ffffff;
  --Headline: #1f1235;
  --Sub-headline: #1b1425;
  --Button: #ff6e6c;
  --Button-text: #1f1235;
  --Bg-generic: #333;
  --Text-generic: #fff;
  /* Illustration:*/
  --Stroke: #1f1235;
  --Main: #ffffff;
  --Highlight: #ff6e6c;
  --Secondary: #67568c;
  --Tertiary: #fbdd74;
  --my-color: red;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

/*Header*/
header {
  background-color: #333;
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 15px;
  position: fixed;
  top: 0;
  margin: 0 auto;
  position: fixed;
  z-index: 999;
  width: 100%;
  height: 10vh;
}

/*NavBar*/
.logo {
  height: 90%;
}

.navbar,
.navbar-list {
  display: flex;
  align-items: center;
  justify-content: center;
}

.navbar {
  gap: 130px;
}
.navbar-list {
  gap: 25px;
}

.navbar-list a {
  color: var(--Main);
  font-size: 15px;
}

.cart-menu {
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: center;
}

.cart-icon {
  font-size: 20px;
  font-weight: 600;
  border-radius: 10px;
  margin-right: 0.5rem;
  color: var(--Main);
  cursor: pointer;
  position: relative;
}

.cart-bubble {
  position: absolute;
  top: -6px;
  right: -6px;
  text-align: center;
  background: var(--Button);
  color: var(--text-white);
  font-size: 10px;
  font-weight: 500;
  height: 17px;
  width: 17px;
  display: flex;
  justify-content: center;
  align-items: center;
  /* padding-left: 1px; no se */
  border-radius: 50%;
}

/* Menu Burguer King*/

.menu-label {
  display: none;
}

/*carrito*/
.cart {
  position: absolute;
  top: 10vh;
  right: 0;
  padding: 50px 30px;
  background-color: #333;
  color: #fff;
  border-left: 1px solid var(--Main);
  display: flex;
  flex-direction: column;
  gap: 30px;
  height: calc(100vh - 10vh);
  overflow-y: scroll;
  z-index: 2;
  min-width: 375px;
  transform: translate(200%);
  transition: all 0.5s cubic-bezier(0.92, 0.01, 0.35, 0.99);
}

.add-modal {
  padding: 15px 0px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--Headline);
  background-color: var(--Tertiary);
  position: fixed;
  bottom: 0;
  width: 100%;
  transition: all 1s ease-out;
  transform: translateY(200%);
}

.active-modal {
  transform: translateY(0);
  transition: all 0.5s ease-in;
}

.active-modal-error {
  transform: translateY(0);
  transition: all 0.7s ease-in;
  background-color: var(--Button);
}

.cart-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
/*OCULTAR BARRA DE SCROLL DEL CARRITO*/

/* .cart::-webkit-scrollbar {
  display: none;
} */

.cart h2 {
  color: var(--text-white);
  font-size: 20px;
  font-weight: 600;
}

.cart-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
  background-color: var(--Bg-generic);
  color: var(--Text-generic);
  padding: 20px;
  border: 1px solid var(--Button);
  border-radius: 10px;
}

.cart-item img {
  height: 65px;
  width: 65px;
}

.item-info {
  display: flex;
  flex-direction: column;
  width: 50%;
}

.item-title {
  color: var(--Text-generic);
  font-weight: 600;
  font-size: 14px;
}

.item-price {
  color: var(--Button);
  font-size: 16px;
  font-weight: 800;
}

.cart-line {
  margin-top: 10px;
  border: 0.3px solid var(--Button);
  width: 100%;
}

.cart-total {
  display: flex;
  justify-content: flex-end;
  gap: 10px;
  align-items: baseline;
  width: 100%;
}

.cart-total p {
  color: var(--Text-generic);
  font-weight: 700;
}

.cart-total span {
  color: var(--Button);
  font-weight: 600;
  font-size: 18px;
}

/*Toggle del carro*/
.open-cart {
  transform: translate(0%);
  transition: all 0.5s cubic-bezier(0.92, 0.01, 0.35, 0.99);
}

.empty-msg {
  color: var(--text-gray);
  font-size: 14px;
}

/* main*/
main {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.hero-image {
  background-image: url(./back1.jpg);
  min-height: 100vh;
  width: 100vw;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.hero-image div {
  min-height: inherit;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.55);
  color: aliceblue;
}

.hero-image h1 {
  font-size: calc(2em + 2vw);
  padding: 1em;
  margin: 1em;
}

.hero-image p {
  font-size: calc(0.7em + 0.7vw); /* Ajusta el tamaño del texto secundario */
  max-width: 600px; /* Ajusta el ancho máximo del párrafo */
  /* margin: 0 auto; */
  color: var(--Main);
}

/*CLASE PARA OCULTAR BOTONES*/
.hidden {
  display: none;
}

.active {
  background: var(--Highlight);
}

/*Cart buttons*/
.cart-buttons {
  display: flex;
  width: 100%;
  justify-content: space-evenly;
  flex-wrap: wrap;
}
/*** ESTILOS BOTÓN GROW SKEW ***/
.ov-btn-cart-skew {
  background: #fff; /* color de fondo */
  color: var(--Button-text); /* color de fuente */
  border: 2px solid var(--Main); /* tamaño y color de borde */
  padding: 3px 3px;
  width: 130px;
  border-radius: 10px; /* redondear bordes */
  position: relative;
  z-index: 1;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}
.ov-btn-cart-skew:hover {
  color: #fff; /* color de fuente hover */
}
.ov-btn-cart-skew::after {
  content: "";
  background: var(--Highlight); /* color de fondo hover */
  position: absolute;
  z-index: -1;
  padding: 3px 3px;
  width: 130px;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  bottom: 0;
  transform: skewX(-45deg) scale(0, 1);
  transition: all 0.3s ease;
}
.ov-btn-cart-skew:hover::after {
  transition: all 0.3s ease-out;
  transform: skewX(-45deg) scale(1, 1);
}

/* estilos boton carrito*/
.ov-btn-grow-skew {
  background: #fff; /* color de fondo */
  color: var(--Button-text); /* color de fuente */
  border: 2px solid var(--Main); /* tamaño y color de borde */
  padding: 16px 20px;
  margin: 40px;
  border-radius: 10px; /* redondear bordes */
  position: relative;
  z-index: 1;
  overflow: hidden;
  display: inline-block;
}
.ov-btn-grow-skew:hover {
  color: #fff; /* color de fuente hover */
}
.ov-btn-grow-skew::after {
  content: "";
  background: var(--Highlight); /* color de fondo hover */
  position: absolute;
  z-index: -1;
  padding: 16px 20px;
  display: block;
  left: -20%;
  right: -20%;
  top: 0;
  bottom: 0;
  transform: skewX(-45deg) scale(0, 1);
  transition: all 0.3s ease;
}
.ov-btn-grow-skew:hover::after {
  transition: all 0.3s ease-out;
  transform: skewX(-45deg) scale(1, 1);
}

/* animation Hero */
.hero-image {
  animation: fadeIn 1.5s ease-in-out;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.contenido {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  max-width: 1200px;
}

/****prudocts*/
/* Products Section */
#products {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
  align-items: center;
  padding: 40px 0;
  max-width: inherit;
}

#products h2 {
  font-size: 32px;
  font-weight: 800;
  margin-bottom: 30px;
}

/* categories */
.categories {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 50px;
}

/*button category*/
.category {
  /* background: var(--btn-bg); */
  border: none;
  padding: 10px 15px;
  /* color: var(--bg-white); */
  border-radius: 50px;
  cursor: pointer;
}

.active {
  background: var(--Highlight);
}

/* product container */
.products-container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 18px;
  padding: 40px 0;
  max-width: inherit;
}

.btn-load {
  background: none;
  border: 1px solid var(--Highlight);
  padding: 10px 35px;
  color: var(--Highlight);
  border-radius: 50px;
  cursor: pointer;
}

/*card productos*/
/* cardProduct */
.card {
  width: 220px;
  height: 450px;
  padding: 0.8em;
  border-radius: 0.8em;
  background: hsl(0, 0%, 94%);
  position: relative;
  overflow: visible;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

.card-img {
  background-color: var(--Background);
  height: 260px;
  width: 100%;
  border-radius: 0.5rem;
  transition: 0.3s ease;
  display: flex;
  align-items: center;
  justify-content: center;
}

.card-info {
  padding-top: 10%;
}

svg {
  width: 20px;
  height: 20px;
}

.card-footer {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 10px;
  border-top: 1px solid #ddd;
}

/*Text*/
.text-title {
  font-weight: 900;
  font-size: 1.2em;
  line-height: 1.5;
  color: var(--Headline);
}

.text-price {
  font-weight: 900;
  font-size: 1.2em;
  line-height: 1.5;
  color: var(--Highlight);
}

.text-body {
  font-size: 0.9em;
  padding-bottom: 10px;
  color: var(--Sub-headline);
}

/*Button*/
.btn-add {
  background-image: url(./Assets/btnadd.png);
}

.card-button {
  border: 1px solid #252525;
  display: flex;
  padding: 0.3em;
  cursor: pointer;
  border-radius: 50px;
  transition: 0.3s ease-in-out;
}

/*Hover*/
.card-img:hover {
  transform: translateY(-2%);
  box-shadow: rgba(226, 196, 63, 0.25) 0px 13px 47px -5px,
    rgba(180, 71, 71, 0.3) 0px 8px 16px -8px;
}

.card-button:hover {
  border: 1px solid var(--Button);
  background-color: var(--Button);
}

/*seccion about*/
.acerca-de-nosotros {
  text-align: center;
  padding: 30px;
}

h2 {
  font-size: 2rem;
  color: #333;
  line-height: 1.5;
}

span {
  color: #e44d26;
  font-weight: bold;
}

p {
  font-size: 1rem;
  line-height: 1.5;
  color: #555;
}

.ventajas {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 20px;
  padding: 2rem;
}

.ventaja {
  flex: 1;
  padding: 20px;
  background-color: #f5f5f5;
  border: 1px solid #ddd;
  text-align: left;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}

h3 {
  font-size: 1.2rem;
  color: #333;
}

/*seccion contacto*/

.contact {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  padding: 20px;
  background-color: hsl(0, 0%, 98%);
  align-items: center;
}

.contact-form {
  width: 220px;
  height: auto;
  padding: 0.8em;
  border-radius: 0.8em;
  background: #f5f5f5;
  position: relative;
  overflow: visible;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

.contact-form label {
  color: var(--Headline);
  align-self: start;
  margin-bottom: 10px;
}

.contact-form .heading {
  font-size: 24px;
  color: var(--Headline);
  margin-bottom: 12px;
  font-weight: bold;
  display: block;
}

.contact-form form {
  display: flex;
  flex-direction: column;
}

textarea {
  resize: none;
  height: 80px;
  width: 200px;
}

.contact-form input,
.contact-form textarea {
  padding: 10px;
  border: none;
  border-radius: 5px;
  margin-bottom: 20px;
  width: calc(100% - 25px);
}

.contact-form input:focus,
.contact-form textarea:focus {
  outline: none;
  box-shadow: 0 0 5px var(--Highlight);
  transform: scale(1.05);
  transition: transform 0.3s ease-in-out;
}

.contact-form button[type="submit"] {
  background-color: var(--Highlight);
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
}

.contact-form button[type="submit"]:hover {
  transform: scale(1.05);
  transition: transform 0.3s ease-in-out;
}

.form__field {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 3px;
}

/* Error / ok */
.form__field.error input {
  border: 1px solid var(--Button);
}

.form__field small {
  color: var(--Button);
  max-width: 350px;
  text-align: center;
  margin-bottom: 10px;
  display: none;
}

.form__field.success input {
  border: 1px solid var(--Tertiary);
}

#form__error {
  color: var(--Button);
  font-size: 1rem;
  margin: 8px 0px;
  max-width: 350px;
  text-align: center;
}

/*FOOTER*/
.footer {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  background-color: #333;
  color: var(--Background);
  text-align: center;
  width: 100%;
  padding: 15px;
  font-size: 12px;
}

.footer p {
  color: var(--Background);
}

.footer a {
  color: var(--Tertiary);
}
